.example-card {
    max-width: 1000px;
}

.border{
    padding: 30px;
  }
.btn{
margin-right: 10px;
}
.fa {
margin-right: 10px;
}

table .btn{
    margin: 2px;
}
.example-spacer{
    flex:1 1 auto
}