
<p class="tool">
    <mat-toolbar color="primary">
      <button mat-button routerLink="/home"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></button>
      <span>Hotel Management System</span>
      <!--<button mat-button routerLink="hotels">Hotels</button>
      <button mat-button>Booking</button>-->
      <span class="example-spacer"></span>
      <button  mat-button routerLink="/home">Logout</button>
    </mat-toolbar>
<div class="back">
    <div class="bootstrap-wrapper">
        <div class="container" style="margin-top: 80px;">
            <div class="row" style="margin-top: 100px;">
                <div class="col-md-6 offset-md-3">
                    <mat-card class="example-card">
                        <mat-card-header>
                            
                            <mat-card-title style="text-align: center;">Receptionist Section</mat-card-title>
                            
                        </mat-card-header>
                        <img mat-card-image src="/assets/img/recep.jpg" alt="">
                          
                        <mat-card-actions style="text-align: center;">
                            <button  mat-raised-button color="accent" routerLink="/user">Check Available Rooms</button>                           
                        </mat-card-actions>   
                    </mat-card>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>

